
<!DOCTYPE HTML>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta name="applicable-device" content="pc">

    <title>零零后中国(china-00.com)</title>
    <meta name="keywords" content="" />
    <meta name="description" content="零零后中国(china-00.com)" />
    <link rel="shortcut icon" href="{{static_url('img/logo.ico')}}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{static_url('css/pc/reseting.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/pc/common.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{static_url('css/pc/layout.css')}}" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="/static/common/bootstrap/js/html5shiv.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/static/common/jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{{static_url('js/jquery-1.9.1.min.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/common.js')}}" charset="utf-8"></script>



</head>
<body>

    <div class="nav-wrapper">
        <div class="containers nav-content clear">
            <a href="/" class="logo fl"><img src="{{static_url('img/logo.png')}}" alt="零零后中国" title="零零后中国"></a>
            <div class="nav-menu fr">
                <div class="nav-item active">
                        <a href="/" title="首页" target="_self">
                            <div class="pos">
                                <span>首页</span>
                                <span class="color">首页</span>
                            </div>
                        </a>
                    </div><div class="nav-item ">
                        <a href="#" title="微+" target="_blank">
                            <div class="pos">
                                <span>微+</span>
                                <span class="color">微+</span>
                            </div>
                        </a>
                    </div><div class="nav-item ">
                        <a href="#" title="Tools+" target="_blank">
                            <div class="pos">
                                <span>Tools+</span>
                                <span class="color">Tools+</span>
                            </div>
                        </a>
                <div class="nav-child">
                        <a href="#" title="开发者工具" target="_blank">开发者工具</a>
                        <a href="#" title="生活工具" target="_blank">生活工具</a>
                        <a href="#" title="社科类工具" target="_blank">社科类工具</a>
                    </div>
                    </div><div class="nav-item ">
                        <a href="#" title="阅+" target="_blank">
                            <div class="pos">
                                <span>阅+</span>
                                <span class="color">阅+</span>
                            </div>

                        </a>
                                <div class="nav-child">
                        <a href="#" title="心悦" target="_blank">心悦</a>
                        <a href="#" title="心阅" target="_blank">心阅</a>
                        <a href="#" title="新阅" target="_blank">新阅</a>
                    </div>
                    </div><div class="nav-item ">
                        <a href="http://open.9.cn" title="微程+" target="_self">
                            <div class="pos">
                                <span>微程+</span>
                                <span class="color">微程+</span>
                            </div>
                        </a>
                    </div>                <div class="nav-item">
                    <a href="#" title="下载">
                        <div class="pos">
                            <span>下载</span>
                            <span class="color">下载</span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

	<div class="main-wrapper">

    <div class="banner" style="margin-top: 96px;">
        <div class="left">
            <a class="b-pre"><i></i></a>
        </div>
        <div class="right">
            <a class="b-next"><i></i></a>
        </div>
        <div class="dot">
            <span class="active"></span><span ></span><span ></span>        </div>
        <a href="#" target="_blank" title="xxxx">
                <p class="active" style="display: block;">
                    <img src="http://img6.bdstatic.com/img/image/pcindex/shitu_b02.jpg" alt="xxxx">
                </p>
            </a>
        <a href="#" target="_blank" title="xxxx">
                <p >
                    <img src="http://img6.bdstatic.com/img/image/pcindex/shitu_b01.jpg" alt="xxxx">
                </p>
            </a><a href="#" target="_blank" title="xxxx">
                <p >
                    <img src="http://img6.bdstatic.com/img/image/pcindex/shitu_b04.jpg" alt="xxxx">
                </p>
            </a>    </div>
    <div class="containers n-products clear">
        <div class="n-title text-center containers">
            <h2>零零后中国</h2>
            <span><h3>旗下产品</h3></span>
        </div>
        <div class="products clear">
            <a href="#" target="_blank" class="item" title="微+">
                <span class="icon"><img src="{{static_url('img/logo-weplus.png')}}" alt="微+"></span>
                <div class="right">
                    <div class="name">微+</div>
                    <div class="text">简单、高效、安全的个人微信辅助工具</div>
                </div>
            </a>
            <a href="#" target="_blank" class="item" title="Tools+">
                <span class="icon"><img src="{{static_url('img/logo-tools.png')}}" alt="Tools+"></span>
                <div class="right">
                    <div class="name">Tools+</div>
                    <div class="text">开发者工具、生活工具、社科工具...</div>
                </div>
            </a>
            <a href="#" class="item nor" title="阅+">
                <span class="icon"><img src="{{static_url('img/logo-news.png')}}" alt="阅+"></span>
                <div class="right">
                    <div class="name">阅+</div>
                    <div class="text">心悦、心阅、新阅</div>
                </div>
            </a>
            <a href="/cs/" class="item" title="微程+">
                <span class="icon"><img src="{{static_url('img/logo-store.png')}}" alt="微程+"></span>
                <div class="right">
                    <div class="name">微程+</div>
                    <div class="text">微信小程序一站满足</div>
                </div>
            </a>
        </div>
    </div>

    <div class="n-developer">
        <div class="n-title text-center containers">
            <h2>小程序开发者导航</h2>
            <span>分类导航,前端技术便捷开发  </span><br/>
            <a href="#" target="_blank" title="开发者导航">That's it</a>
        </div>
        <div class="dev-content containers clear">
            <div class="n-dev">
                <div class="clear active">
                    <div class="dev-icon kfz"></div>
                    <div class="dev-data">
                        <h3>开发者工具</h3>
                        <p>微信官方小程序开发者工具下载</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon tx"></div>
                    <div class="dev-data">
                        <h3>腾讯MTA分析平台</h3>
                        <p>腾讯移动分析微信小程序分析统计</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon sc"></div>
                    <div class="dev-data">
                        <h3>生成工具</h3>
                        <p>小程序配置文件及目录生成工具</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon sj"></div>
                    <div class="dev-data">
                        <h3>设计指南</h3>
                        <p>微信官方小程序设计指南</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon zf"></div>
                    <div class="dev-data">
                        <h3>支付开发文档</h3>
                        <p>微信官方小程序支付开发者文档</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon yy"></div>
                    <div class="dev-data">
                        <h3>运营规范</h3>
                        <p>微信官方小程序运营规范</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon wxwd"></div>
                    <div class="dev-data">
                        <h3>微信官方问答</h3>
                        <p>微信官方问答精选</p>
                    </div>
                </div>
            </div>
            <div class="n-dev">
                <div class="clear">
                    <div class="dev-icon wxys"></div>
                    <div class="dev-data">
                        <h3>微信样式下载</h3>
                        <p>微信官方基础样式库（控件库）预览</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="n-article">
        <div class="n-title text-center containers">
            <h2>行业热文</h2>
            <span>深度见解，行业前沿。  </span><br/>
            <a href="http://xcx.9.cn/news/" target="_blank" title="小程序行业热文">查看更多</a>
        </div>
        <div class="art-cont containers clear imgScale">
            <a href="http://xcx.9.cn/news/947" target="_blank" title="动车上也能订外卖！而且支持支付宝和微信支付！">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-14_5968730f5cee6.jpg?imageView2/2/w/400" alt="动车上也能订外卖！而且支持支付宝和微信支付！"/>
                        <div class="n-keys">
                            <span>动车</span><span>订餐</span><span>支付</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2162</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">动车上也能订外卖！而且支持支付宝和微信支付！</p>
                </a><a href="http://xcx.9.cn/news/946" target="_blank" title="微信支付入驻欧洲，再次与支付宝短兵相见">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-14_59686352edf22.jpg?imageView2/2/w/400" alt="微信支付入驻欧洲，再次与支付宝短兵相见"/>
                        <div class="n-keys">
                            <span>微信支付</span><span>支付宝</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2188</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">微信支付入驻欧洲，再次与支付宝短兵相见</p>
                </a><a href="http://xcx.9.cn/news/945" target="_blank" title="微信“群礼包”新玩法，这两款小程序抢先体验">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-14_5968286d1148f.jpg?imageView2/2/w/400" alt="微信“群礼包”新玩法，这两款小程序抢先体验"/>
                        <div class="n-keys">
                            <span>小程序</span><span>礼包</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2574</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">微信“群礼包”新玩法，这两款小程序抢先体验</p>
                </a><a href="http://xcx.9.cn/news/944" target="_blank" title="【微信小程序开发教程】富文本插件wxParse的使用">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-13_596742b2ccb71.jpg?imageView2/2/w/400" alt="【微信小程序开发教程】富文本插件wxParse的使用"/>
                        <div class="n-keys">
                            <span>微信小程序</span><span>小程序开发</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2386</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">【微信小程序开发教程】富文本插件wxParse的使用</p>
                </a><a href="http://xcx.9.cn/news/942" target="_blank" title="“无人超市”很火，开家小程序商店也不错啊！">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-13_5966ed71b0fb4.jpg?imageView2/2/w/400" alt="“无人超市”很火，开家小程序商店也不错啊！"/>
                        <div class="n-keys">
                            <span>小程序</span><span>无人超市</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2440</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">“无人超市”很火，开家小程序商店也不错啊！</p>
                </a><a href="http://xcx.9.cn/news/941" target="_blank" title="为什么“富文本”功能是内容小程序的福音？">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-13_5966d7b8645b6.jpg?imageView2/2/w/400" alt="为什么“富文本”功能是内容小程序的福音？"/>
                        <div class="n-keys">
                            <span>小程序</span><span>富文本</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2687</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">为什么“富文本”功能是内容小程序的福音？</p>
                </a><a href="http://xcx.9.cn/news/940" target="_blank" title="马来西亚银行卡也将可以绑定微信支付，其他国家不要太羡慕">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-12_5965bd4634b13.jpg?imageView2/2/w/400" alt="马来西亚银行卡也将可以绑定微信支付，其他国家不要太羡慕"/>
                        <div class="n-keys">
                            <span>微信支付</span><span>马来西亚</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>2470</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">马来西亚银行卡也将可以绑定微信支付，其他国家不要太羡慕</p>
                </a><a href="http://xcx.9.cn/news/939" target="_blank" title="微信小程序再更新，发现对小程序的爱又深了！">
                    <div class="content">
                        <img onload="setImgWH(this)" src="http://ojyhagqv7.bkt.clouddn.com/2017-07-12_596576b945055.jpg?imageView2/2/w/400" alt="微信小程序再更新，发现对小程序的爱又深了！"/>
                        <div class="n-keys">
                            <span>微信小程序</span><span>更新</span>                        </div>
                        <label class="n-look">
                            <i></i>
                            <span>3173</span>
                        </label>
                        <div class="n-black"></div>
                    </div>
                    <p class="elps-line2">微信小程序再更新，发现对小程序的爱又深了！</p>
                </a>        </div>
    </div>

</div>

<div class="foot-wrapper">

        <div class="containers foot clear">
            <div class="foot-left fl">
                <dl>
                    <dt>china-00.com旗下产品</dt>
                    <dd class="clear">
                        <a href="#" class="f-logo" title="微+" target="_blank"><img src="{{static_url('img/logo-weplus-64.png')}}" alt="微+"></a>
                        <a href="#" class="f-logo" title="Tools+" target="_blank"><img src="{{static_url('img/logo-tools-64.png')}}" alt="Tools"></a>
                        <a href="#" class="f-logo" title="阅+" target="_blank"><img src="{{static_url('img/logo-news-64.png')}}" alt="阅+"></a>
                        <a href="#" class="f-logo" title="微程+" target="_blank"><img src="{{static_url('img/logo-store-64.png')}}" alt="微程+"></a>
                    </dd>
                    <dd class="text">
                        <a href="/about/" class="text" target="_blank">关于我们</a>
                        <a href="javascript:;" class="qq">xxxxxxxx</a>
                        <a href="#" class="wb" target="_blank">关注微博</a>
                        <a href="javascript:;" class="tel">合作热线：0000000</a>
                    </dd>
                    <dd class="copyright">Copyright © 2017 china-00.com&nbsp;&nbsp;&nbsp;京ICP备xxxxxx号-xx&nbsp;&nbsp;&nbsp;CHINA-00.COM&nbsp;&nbsp;&nbsp;版权所有</dd>
                </dl>
            </div>
            <div class="foot-right fr">
                <div class="ewms-wrapper">
                    <div class="item">
                        <span class="pic"><img src="#" alt="..."></span>
                        <p>手机访问</p>
                    </div>
                    <div class="item">
                        <span class="pic"><img src="#" alt="..."></span>
                        <p>扫一扫关注我们</p>
                    </div>
                </div>
            </div>
        </div>

</div>



    <script type="text/javascript">
        $(function () {
            $(".show-content").on('mouseenter', '.list .app-try', function () {
                $(this).parents(".list").find(".qrcode").stop(true, true).fadeIn();
            });
            $(".show-content").on('mouseleave', '.list .app-try', function () {
                $(this).parents(".list").find(".qrcode").hide();
            });
        });
        function showImg(url, id) {
        	var frameid = 'frameimg' + Math.random();
        	window.img = '<img id="img" src=\'' + url + '?' + Math.random() + '\' /><script>window.onload = function() { parent.document.getElementById(\'' + frameid + '\').height =document.getElementById(\'img\')>';
        	$("#" + id).html('<iframe id="' + frameid + '" src="javascript:parent.img;" frameBorder="0" scrolling="no" width="100%"></iframe>');
        }
    </script>

<div class="hidden">
    <script>
        //百度统计
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?413272dfeb229ffe0a15cff98190e87e";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        //添加百度推送
    </script>

</div>

</body>
</html>